# Project name used for resource naming
project_name = "<project-name>"

# Your Google Cloud Project ID for resource deployment
project_id = "<your-project-id>"

# Your Google Cloud project ID that will be used to host the Cloud Build pipelines.
cicd_runner_project_id = "<cicd-runner-project-id>"

# Name of the host connection you created in Cloud Build
connection_already_exists = true # Do not try to create a new connection
host_connection_name = "<gh-conn-name>"
github_pat_secret_id = "<gh-conn-secret-id>"

repository_owner = "<gh-username>"

# Name of the repository you added to Cloud Build
repository_name = "<gh-repo-name>"

# The Google Cloud region you will use to deploy the infrastructure
region = "<gcp-region>"

# Service Configuration
service_name = "<service-name>" # Note hyphens
app_name = "<service_name>" # Note underscore
agent_name = "<service_name>_chat_agent"
google_genai_use_vertexai = "true"
model = "<model>"
location = "global"
app_domain_name  = ["some-domain.com", "www.some-domain.com"]

# Application Runtime Configuration
log_level = "INFO"      # Default: INFO
min_instances = "0"     # Default: 0