# Project name used for resource naming
project_name = "<project-name>"

# Your Google Cloud Project ID for resource deployment
project_id = "<your-project-id>"

# Your Google Cloud project ID that will be used to host the Cloud Build pipelines.
cicd_runner_project_id = "<cicd-runner-project-id>"

# Name of the host connection you created in Cloud Build
connection_already_exists = true # Do not try to create a new connection
host_connection_name = "<gh-conn-name>"
github_pat_secret_id = "<gh-conn-secret-id>"

repository_owner = "<gh-username>"

# Name of the repository you added to Cloud Build
repository_name = "<gh-repo-name>"

# The Google Cloud region you will use to deploy the infrastructure
region = "<gcp-region>"
